<div class="row">
  <div class="col-12">
    <ol class="list-group">
      <li *ngFor="let todo of todos" class="list-group-item">
        {{todo.name}} : {{todo.content}}
        <i class="bi bi-trash" (click)="deleteTodo(todo)"></i>
      </li>
    </ol>
  </div>
  <div class="col-12">
    name: <input [(ngModel)]="todo.name" type="text" class="form-control">
    content: <input [(ngModel)]="todo.content" type="text" class="form-control">
    <button
      [disabled]="!todo.name.trim() || !todo.content.trim()"
      (click)="addTodo()"
      class="btn btn-primary m-2">add</button>
  </div>
</div>
<!-- <div class="alert alert-danger">
  <app-cv/>
</div> -->
